.contact-container{
    margin-right: 76px;
    position: relative;
}

.contact-wallpaper{
    width: 100%;
    height: 70%;
    background-color: #2283ed;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='946' height='788.3' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
    background-color: #2283ed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-wallpaper-text{
    color: white;
    font-size: 70px;
    margin-top: -352px;
    margin-left: 20px;
}
.contact-wallpaper-text p{
    font-size: 15px;
    text-indent: 17px;
    margin-top: -20px;
    position: relative;
}
.contact-wallpaper-text p:after{
    content: '';
    position: absolute;
    bottom: -4px;
    width: 28px;
    background-color: white;
    height: 1px;
    left: 17px;
    border-radius: 20px;
    transition: .5s ease;
}
.contact-wallpaper-text p:hover:after{
    width: 201px;
}

.contact-form-container{
    position: absolute;
    bottom: 39px;
    width: 838px;
    height: 64%;
    /* border: 1px solid black; */
    left: 16%;
    box-shadow: -13px 11px 12px 0px #00152952;
    display: flex;
}

.form{
    width: 100%;
    border: 1px solid white;
    height: 100%;
    background-color: white;
}
.form-top-widjet{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 6%;
    padding-left: 7%;
}
.form-top-widjet p{
    margin: 0;
    font-size: 18px;
}
.form-top-widjet img{
    width: 60px;
    height: 60px;
}
/* .contact-info{
    position: relative;
    width: 40%;
    background-color: #001529;
} */
.contact-page .ant-col-8 {
    flex: 0 0 21.333333% !important;
}
.contact-page .submit-btn-container>.ant-btn-primary {
    color: #fff;
    background-color: #2283ed !important;
    border-color: #2283ed !important;
    width: 50px;
    height: 50px;
    border-radius: 39px;
    font-size: 25px;
}
.contact-page .submit-btn-container>.ant-btn-primary span {
    transform: rotate3d(0, 0, 2, -21deg);
}
.contact-page #complex-form_message{
    max-height: 100px;
    min-height: 100px;
    border-radius: 7px;
}
.submit-btn-container{
    display: flex;
    justify-content: flex-end;
}
.contact-page .social-button-container{
    position: absolute;
    bottom: 0;
    left: 19%;
}
.contact-info>h1{
    color: white;
    font-size: 35px;
    margin-left: 7px;
}
.contact-info p{
    margin-top: 7%;
    margin-left: 10px;
}
.form input{
    border-radius: 6px;
}
@media all and (max-width: 1124px){
    .contact-form-container{
        left: 8%;
    }
}
@media all and (max-width: 1000px){
    .contact-form-container{
        left: 5%;
        width: 89%
    }
}

@media all and (max-width: 890px){
    .contact-info {
        position: relative;
        width: 45%;
        background-color: #001529;
    }
}
@media all and (max-width: 760px){
   .contact-info{
       display: none;
   }
   .contact-container {
    margin-right: 0px;
}
.contact-wallpaper-text {
    color: white;
    font-size: 44px;
    margin-top: -177px;
    margin-left: 20px;
}
.form{
    width: 100%;
    height: 120%;
    overflow-y: auto;
}
.ant-form{
    margin-right: 6px;
    margin-left: 9px;
}
}
