.cls-1 {
    fill: #f8f8f8;
}

.cls-2 {
    fill: #d3d3d3;
}

.cls-3 {
    fill: #de8e68;
}

.cls-4 {
    fill: #56cad8;
}

.cls-5 {
    fill: #74d5de;
}

.cls-6 {
    fill: #d37c59;
}

.cls-7 {
    fill: #ff9f1c;
}

.cls-8 {
    fill: #74d5de;
}

.cls-9 {
    fill: #dc8e6c;
}

.svg{
    width: 55%;
    height: 380px;
}
.notfound-footer{
    text-align: center;
}

.notfound-footer>button{
    background-color: #ff9f1c;
    width: 130px;
    height: 45px;
    border-radius: 9px;
    font-size: 18px;
}

.svg-container{
    justify-content: center;
    display: flex;
}
.top-logo-bg{
    width: 100%;
}
.error-title{
    text-align: center;
    font-size: 20px;
}
.profile-pics{
    width: 118px;
    height: 116px;
    border-radius: 50%;
}

